/Podfile
/Podfile.lock
/Pods/Kingfisher/LICENSE
/Pods/Kingfisher/README.md
/Pods/Kingfisher/Sources/Cache/CacheSerializer.swift
/Pods/Kingfisher/Sources/Cache/DiskStorage.swift
/Pods/Kingfisher/Sources/Cache/FormatIndicatedCacheSerializer.swift
/Pods/Kingfisher/Sources/Cache/ImageCache.swift
/Pods/Kingfisher/Sources/Cache/MemoryStorage.swift
/Pods/Kingfisher/Sources/Cache/Storage.swift
/Pods/Kingfisher/Sources/Extensions/ImageView+Kingfisher.swift
/Pods/Kingfisher/Sources/Extensions/NSButton+Kingfisher.swift
/Pods/Kingfisher/Sources/Extensions/NSTextAttachment+Kingfisher.swift
/Pods/Kingfisher/Sources/Extensions/UIButton+Kingfisher.swift
/Pods/Kingfisher/Sources/Extensions/WKInterfaceImage+Kingfisher.swift
/Pods/Kingfisher/Sources/General/Deprecated.swift
/Pods/Kingfisher/Sources/General/ImageSource/AVAssetImageDataProvider.swift
/Pods/Kingfisher/Sources/General/ImageSource/ImageDataProvider.swift
/Pods/Kingfisher/Sources/General/ImageSource/Resource.swift
/Pods/Kingfisher/Sources/General/ImageSource/Source.swift
/Pods/Kingfisher/Sources/General/Kingfisher.swift
/Pods/Kingfisher/Sources/General/KingfisherError.swift
/Pods/Kingfisher/Sources/General/KingfisherManager.swift
/Pods/Kingfisher/Sources/General/KingfisherOptionsInfo.swift
/Pods/Kingfisher/Sources/Image/Filter.swift
/Pods/Kingfisher/Sources/Image/GIFAnimatedImage.swift
/Pods/Kingfisher/Sources/Image/Image.swift
/Pods/Kingfisher/Sources/Image/ImageDrawing.swift
/Pods/Kingfisher/Sources/Image/ImageFormat.swift
/Pods/Kingfisher/Sources/Image/ImageProcessor.swift
/Pods/Kingfisher/Sources/Image/ImageProgressive.swift
/Pods/Kingfisher/Sources/Image/ImageTransition.swift
/Pods/Kingfisher/Sources/Image/Placeholder.swift
/Pods/Kingfisher/Sources/Kingfisher.h
/Pods/Kingfisher/Sources/Networking/AuthenticationChallengeResponsable.swift
/Pods/Kingfisher/Sources/Networking/ImageDataProcessor.swift
/Pods/Kingfisher/Sources/Networking/ImageDownloader.swift
/Pods/Kingfisher/Sources/Networking/ImageDownloaderDelegate.swift
/Pods/Kingfisher/Sources/Networking/ImageModifier.swift
/Pods/Kingfisher/Sources/Networking/ImagePrefetcher.swift
/Pods/Kingfisher/Sources/Networking/RedirectHandler.swift
/Pods/Kingfisher/Sources/Networking/RequestModifier.swift
/Pods/Kingfisher/Sources/Networking/RetryStrategy.swift
/Pods/Kingfisher/Sources/Networking/SessionDataTask.swift
/Pods/Kingfisher/Sources/Networking/SessionDelegate.swift
/Pods/Kingfisher/Sources/Utility/Box.swift
/Pods/Kingfisher/Sources/Utility/CallbackQueue.swift
/Pods/Kingfisher/Sources/Utility/Delegate.swift
/Pods/Kingfisher/Sources/Utility/ExtensionHelpers.swift
/Pods/Kingfisher/Sources/Utility/Result.swift
/Pods/Kingfisher/Sources/Utility/Runtime.swift
/Pods/Kingfisher/Sources/Utility/SizeExtensions.swift
/Pods/Kingfisher/Sources/Utility/String+MD5.swift
/Pods/Kingfisher/Sources/Views/AnimatedImageView.swift
/Pods/Kingfisher/Sources/Views/Indicator.swift
/Pods/Manifest.lock
/Pods/Pods.xcodeproj/project.pbxproj
/Pods/Pods.xcodeproj/xcuserdata/andrejzamiralov.xcuserdatad/xcschemes/Kingfisher.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/andrejzamiralov.xcuserdatad/xcschemes/Pods-WeatherAppDiplom.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/andrejzamiralov.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods/Target Support Files/Kingfisher/Kingfisher-dummy.m
/Pods/Target Support Files/Kingfisher/Kingfisher-Info.plist
/Pods/Target Support Files/Kingfisher/Kingfisher-prefix.pch
/Pods/Target Support Files/Kingfisher/Kingfisher-umbrella.h
/Pods/Target Support Files/Kingfisher/Kingfisher.debug.xcconfig
/Pods/Target Support Files/Kingfisher/Kingfisher.modulemap
/Pods/Target Support Files/Kingfisher/Kingfisher.release.xcconfig
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-frameworks.sh
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-Info.plist
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-umbrella.h
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom.debug.xcconfig
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom.modulemap
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom.release.xcconfig
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-acknowledgements.markdown
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-acknowledgements.plist
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-dummy.m
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-frameworks-Debug-input-files.xcfilelist
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-frameworks-Debug-output-files.xcfilelist
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-frameworks-Release-input-files.xcfilelist
/Pods/Target Support Files/Pods-WeatherAppDiplom/Pods-WeatherAppDiplom-frameworks-Release-output-files.xcfilelist
/WeatherAppDiplom/.DS_Store
